body{

margin:0;

font-family:Arial;

background:#f0f2f5;


}



.topbar{

background:#007bff;

padding:15px;

display:flex;

justify-content:space-between;

align-items:center;

color:white;

}



.tabs button{

margin-right:10px;

padding:8px 15px;

border:none;

background:white;

cursor:pointer;

border-radius:5px;

}



.content{

padding:30px;

}



/* Users List */

.userItem{

padding:15px;

border-bottom:1px solid #ddd;

cursor:pointer;

}


.userItem:hover{

background:#f0f2f5;

}



/* Chat List */

.chatItem{

padding:15px;

border-bottom:1px solid #ddd;

cursor:pointer;

}


.chatItem:hover{

background:#f0f2f5;

}


.chatName{

font-weight:bold;

}


.lastMessage{

font-size:13px;

opacity:0.7;

}


.chatTime{

float:right;

font-size:12px;

opacity:0.6;

}



/* Messages Box */

.messagesBox{

height:60vh;

overflow-y:auto;

border:1px solid #ccc;

padding:10px;

margin-bottom:10px;

background:white;

}



/* Message Bubble */

.message{

padding:10px;

margin:5px 0;

border-radius:10px;

max-width:60%;

word-wrap:break-word;

}



/* My Message */

.myMessage{

background:#007bff;

color:white;

margin-left:auto;

}



/* Other Message */

.otherMessage{

background:#e4e6eb;

color:black;

margin-right:auto;

}



/* Timestamp */

.time{

font-size:11px;

margin-top:5px;

opacity:0.7;

text-align:right;

}



/* Message Input */

#messageInput{

width:70%;
height:50px;
font-size:16px;

padding:10px;

resize:none;

border-radius:8px;

border:1px solid #ccc;

}



/* Logout Button */

.logoutBtn{

padding:10px 20px;

background:#007bff;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}



/* Dark Mode */

.dark{

background:#1e1e1e;

color:white;

}


.dark .messagesBox{

background:#333;

}


.dark .userItem,
.dark .chatItem{

border-color:#555;

}


.dark textarea{

background:#333;

color:white;

border-color:#555;

}

.onlineDot{

height:10px;
width:10px;

background:green;

border-radius:50%;

display:inline-block;

margin-right:8px;

}

.offlineDot{

height:10px;
width:10px;

background:gray;

border-radius:50%;

display:inline-block;

margin-right:8px;

}

.onlineText{

color:green;

font-size:13px;

}

.offlineText{

color:gray;

font-size:13px;

}

.typingText{

color:green;
font-size:13px;

}

.statusGray{

color:gray;
margin-left:5px;

}

.statusGreen{

color:green;
margin-left:5px;

}

.unreadBubble{

background:#b88cff;
color:white;

border-radius:50%;

padding:5px 9px;

font-size:12px;

position:absolute;

right:15px;

margin-top:-20px;

}

.dateSeparator{

text-align:center;

margin:15px 0;

font-size:13px;

background:#e0e0e0;

display:inline-block;

padding:5px 12px;

border-radius:10px;

color:#333;

position:relative;

left:50%;

transform:translateX(-50%);

}

@media screen and (max-width:600px){

.content{
padding:10px;
}

.topbar{
flex-direction:column;
align-items:flex-start;
}

.tabs button{

margin-bottom:5px;

}

.messagesBox{

height:65vh;

}

.message{

max-width:80%;

}

}

/* Input Area */

.inputArea{

display:flex;

align-items:center;

gap:10px;

margin-top:10px;

}


/* Textarea */

#messageInput{

flex:1;

height:25px;

padding:12px;

border-radius:25px;

border:1px solid #ccc;

resize:none;

font-size:15px;

outline:none;

}



/* Send Button */

.sendBtn{

width:50px;
height:50px;

border-radius:50%;

border:none;

background:#8621de;

color:white;

font-size:22px;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

}


.sendBtn:active{

background:#913eda;

}

@media screen and (max-width:600px){

.inputArea{

position:sticky;

bottom:0;

background:white;

padding:10px;

}

.dark .inputArea{

background:#1e1e1e;

}

}

/* Dark Mode Button */

.darkToggle{

width:40px;
height:40px;

border-radius:50%;

border:none;

background:white;

font-size:18px;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

transition:0.2s;

}


.darkToggle:active{

transform:scale(1.1);

background:#f0f0f0;

}


/* Dark Mode Style */

.dark .darkToggle{

background:#333;
color:white;

}
